<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <RollingRandomAccessFile name="R" fileName="/opt/jetty/logs/rcfsabrixjobstatus.log" filePattern="/opt/jetty/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%X{traceId} %-5p %d [%t] %c app=rcfsabrixjobstatus version=@@RELEASE@@ : %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile>

    </Appenders>
    <Loggers>
        <AsyncLogger name="org.apache.log4j.xml" level="info"/>
        <AsyncLogger name="com.netflix" level="error"/>
        <AsyncLogger name="com.nike" level="info"/>

        <AsyncRoot level="info">
            <AppenderRef ref="R"/>
        </AsyncRoot>
    </Loggers>
</Configuration>